<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="bloodrequestor/base::layout(~{::section})">
<head>
<meta charset="UTF-8">
<title>Check Blood Availability View</title>
</head>
<body>

	<section>
		<div class="card mr-3 ml-3">
			<div class="card-body">
				<h1 class="text-center text-danger">Check Blood Availability</h1>

				<div class="search-container my-4">

					<input onkeyup="searchLocation()" id="search-input" type="text"
						class="form-control" placeholder="Search your location.." />

					<div class="search-result">

						<!-- result goes here -->
						<h2>This is result..</h2>

					</div>
				</div>
				<!-- <div class="table-responsive">
					<table class="table table-hover">
						<thead class="thead-light">
							<tr>
								<th scope="col">#ID</th>
								<th scope="col">Name</th>
								<th scope="col">Email</th>
								<th scope="col">Phone</th>
								<th scope="col">Address</th>
								<th scope="col">Location</th>
								<th scope="col">A+</th>
								<th scope="col">A-</th>
								<th scope="col">B+</th>
								<th scope="col">B-</th>
								<th scope="col">AB+</th>
								<th scope="col">AB-</th>
								<th scope="col">O+</th>
								<th scope="col">O-</th>
							</tr>
						</thead>
						 <tbody>
							<tr th:each="u : ${users}">
								<th scope="row" th:text="${u.id}"></th>

								<td th:text="${u.name}"></td>
								<td th:text="${u.email}"></td>
								<td th:text="${u.phone}"></td>
								<td th:text="${u.address}"></td>
								<td th:text="${u.location}"></td>
								<td th:text="${u.bloodStock.apos}"></td>
								<td th:text="${u.bloodStock.aneg}"></td>
								<td th:text="${u.bloodStock.bpos}"></td>
								<td th:text="${u.bloodStock.bneg}"></td>
								<td th:text="${u.bloodStock.abpos}"></td>
								<td th:text="${u.bloodStock.abneg}"></td>
								<td th:text="${u.bloodStock.opos}"></td>
								<td th:text="${u.bloodStock.oneg}"></td>
			
							</tr>
						</tbody>
					</table>
				</div> -->

				<!-- Pagination -->
				<!-- <nav aria-label="Page navigation example">
					<ul class="pagination">
						<li th:if="${currentPage != 0}" class="page-item"><a
							th:href="@{'/bloodrequestor/check_blood_availability/'+${currentPage-1}}"
							class="page-link" href="#">Previous</a></li>

						<li th:classappend="${currentPage==i-1?'active':''}"
							th:each="i : ${#numbers.sequence(1,totalPages)}"
							class="page-item"><a
							th:href="@{'/bloodrequestor/check_blood_availability/'+${i-1}}"
							class="page-link" href="#"><span th:text="${i}"></span></a></li>

						<li th:if="${currentPage+1 != totalPages}" class="page-item"><a
							th:href="@{'/bloodrequestor/check_blood_availability/'+${currentPage+1}}"
							class="page-link" href="#">Next</a></li>
					</ul>
				</nav> -->
				<!-- Pagination End-->

			</div>
		</div>
		<script>
			$(document).ready(() => {
				$('.item').removeClass('active');
				$('#search-link').addClass('active');
			});
			
		</script>
	</section>

</body>
</html>