<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>Change Password Form</title>
</head>
<body>

	<section>
		<div id="login">
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" style="height:200px" class="col-md-12">
						<h1>Enter New Password</h1>
						<form action="" th:action="@{/update-password}" method="post">
							<div class="form-group mt-4">
								<input required="required" type="password" name="newpassword" placeholder="Enter new password here" class="form-control"/>
							</div>
							<div class="container text-center mt-4">
								<button class="btn btn-primary">Change Password</button>								
							</div>
						</form>
                    </div>
                </div>
            </div>
        </div>
    </div>
	</section>

</body>
</html>