<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>Verify OTP</title>
</head>
<body>

	<section>
		<div id="login">
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" style="height:200px" class="col-md-12">
						<!-- Email Form-->
						<!-- message box -->
                    	<div th:if="${session.message}" class="container">
							<div th:classappend="${'alert-'+session.message.type}" class="alert text-center mt-3" role="alert">
								<span th:text="${session.message.content}"></span>
							</div>
							<th:block th:text="${#session.removeAttribute('message')}"></th:block>
						</div>
						<form action="" th:action="@{/verify-otp}" method="post">
							<div class="form-group mt-4">
								<input required="required" type="password" name="otp" placeholder="Enter OTP here" class="form-control"/>
							</div>
							<div class="container text-center mt-4">
								<button class="btn btn-success">Verify</button>								
							</div>
						</form>
                    </div>
                </div>
            </div>
        </div>
    </div>
	</section>

</body>
</html>