<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="admin/base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>Admin Dashboard</title>
</head>
<body>
<h1>Hiii</h1>
	<section>
		<div class="container">
			<div class="card text-center">
				<div class="card-body my-5">
					<div class="container text-center">
						<!-- <img class="my_profile_picture" style="height: 200px; width: 200px;" th:src="@{'/img/'+${user.imageUrl}}"  alt="profile photo" src=""> -->
					</div>
					<h1 class="text-center mt-3 text-secondary font-italic font-weight-light">
						Welcome Admin..!
					</h1>
					
					<!-- <a th:href="@{/user/add-bloodstock}" class="btn btn-danger btn-block text-uppercase mt-3">Add BloodStock</a> -->
				</div>
			</div>
		</div>
		
		<script>
			$(document).ready(() => {
				$('.item').removeClass('active');
				$('#home-link').addClass('active');
			});
			
		</script>
				
	</section>   

</body>
</html>