<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="admin/base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>View Users</title>
</head>
<body>

	<section>
		<div class="card mr-3 ml-3">
			<div class="card-body">
				<h1 class="text-center">BLoodBanks List</h1>
				
				<!-- <div class="search-container my-4">
					
					<input onkeyup="search()" id="search-input" type="text" class="form-control" placeholder="Search your contacts.." /> 
				
					<div class="search-result">
						
						result goes here
						<h2>This is result..</h2>
						
					</div> -->
				</div>
				<div class="table-responsive">
					<table class="table table-hover">
					  <thead class="thead-light">
					    <tr>
					      <!-- <th scope="col">#ID</th> -->
					      <th scope="col">Name</th>
					      <th scope="col">Email</th>
					      <th scope="col">Phone</th>
					      <th scope="col">Address</th>
					      <th scope="col">Location</th>
					      <th scope="col">Status</th>
					      <th scope="col">Role</th>
					      <th scope="col">Action</th>
					    </tr>
					  </thead>
					  <tbody>
					    <tr th:each="u : ${bloodbank}">
					      <!-- <th scope="row" th:text="${u.id}"></th> -->
					      
					      <td th:text="${u.name}"></td>
					      <td th:text="${u.email}"></td>
					      <td th:text="${u.phone}"></td>
					      <td th:text="${u.address}"></td>
					      <td th:text="${u.location}"></td>
					      <td th:text="${u.status}"></td>
					      <td th:text="${u.role}"></td>

					      <td>
					      <form method="post" th:action="@{'/admin/update-status-approve/'+${u.id}}" class="mb-1">
					      		<button type="submit" class="btn btn-success btn-sm">Approve</button>
					      	</form>
					      	
					      <form method="post" th:action="@{'/admin/update-status-block/'+${u.id}}" class="mb-1">
					      		<button type="submit" class="btn btn btn-warning btn-sm px-3">Block</button>
					      	</form>
					      	
					      	<!--  <a th:href="@{'/admin/delete-bloodbank/'+${u.id}}" class="btn btn-danger btn-sm">Delete</a> -->
					      	<a href="#" th:onclick="|deletebloodstock(${u.id})|" class="btn btn-danger btn-sm">Delete</a>
					      </td>
					    </tr>
					  </tbody>
					</table>
				</div>
			
				<!-- Pagination -->
				<nav aria-label="Page navigation example">
				  <ul class="pagination">
				    <li th:if="${currentPage != 0}" class="page-item"><a th:href="@{'/admin/show_bloodbank/'+${currentPage-1}}" class="page-link" href="#">Previous</a></li>
				    
				    <li th:classappend="${currentPage==i-1?'active':''}" th:each="i : ${#numbers.sequence(1,totalPages)}" class="page-item"><a th:href="@{'/admin/show_bloodbank/'+${i-1}}" class="page-link" href="#"><span th:text="${i}"></span></a></li>
				    
				    <li th:if="${currentPage+1 != totalPages}" class="page-item"><a th:href="@{'/admin/show_bloodbank/'+${currentPage+1}}" class="page-link" href="#">Next</a></li>
				  </ul>
				</nav>
				<!-- Pagination End-->
				
			</div>
		</div>
		<script>
			$(document).ready(() => {
				$('.item').removeClass('active');
				$('#bloodbank-link').addClass('active');
			});
			
		</script>
	</section>
	
</body>
</html>