@charset "ISO-8859-1";

body {
	background: #e2e2e2 !important;
}

.navcustomcolor {
	background: rgb(255, 0, 0) !important;
}

.banner {

	width: 100%;
	height: 100vh;
	background: linear-gradient(rgba(248, 247, 247, -0.473),
		rgba(160, 112, 112, 0.719)), url(../img/pic5.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position-y: 20px;
	background-color: rgb(255, 255, 255);
}

.my-card {
	padding: 20px;
	background: #FFFFFF;
}

#login .container #login-row #login-column #login-box {
	margin-top: 90px;
	max-width: 600px;
	height: 420px;
	border: 1px solid #ff0000;
	background-color: white;
	z-index: 50;
}

#login .container #login-row #login-column #login-box #login-form {
	padding: 20px;
}

#login .container #login-row #login-column #login-box #login-form #register-link
	{
	margin-top: -85px;
}

/* Sidebar Style for normal base.html */
@media only screen and (max-width: 600px) {
	.sidebar {
		display: none;
		width: 50% !important;
		background: white;
		height: 100vh;
		position: fixed;
		padding-top: 20px;
		z-index: 10;
	}
	.content {
		margin-left: 0% !important;
	}
	
	nav img{
	 display: none;
	}
}

.sidebar {
	width: 18%;
	background: white;
	height: 100%;
	position: fixed;
	padding-top: 45px;
	z-index: 10;
}

.sidebar a {
	display: block;
	width: 100%;
	padding: 10px 25px;
	text-decoration: none;
	color: gray;
}

.sidebar a:hover {
	background: #e2e2e2;
}

.sidebar .divider {
	height: .5px;
	width: 100%;
	background: #e2e2e2;
	margin-top: 10px;
}

.content {
	margin-left: 20%;
}

.sidebar .crossbtn {
	position: absolute;
	top: 0;
	right: 35px;
	font-size: 36px;
	cursor: pointer;
}



/* Search CSS */
.search-container {
	position: relative;
}

.search-result {
	position: absolute;
	background: white;
	width: 100%;
	padding: 10px;
	border: 1px solid gray;
	display: none;
}

.active {
	background: rgb(255, 0, 0) !important;
	color: white !important;
}



/* bootstrap css override */
.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255);
}


.text-danger {
    color: #ff0000 !important;
}

.btn-danger {
    color: #fff;
    background-color: #ff0000 !important;
    border-color: #dc3545;
}

.bg-danger {
    background-color: #ff0000!important;
}

.my-card {
    padding: 20px;
    background: #FFFFFF;
    border: 1px solid #ff0000;
    z-index: 5;
}